<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title> QA_Service - Вопрос № {{ question.id }} </title>
</head>

<body>

<h1>Вопрос № {{ question.id }} </h1><hr/>
<h2>{{ question.title }} </h2>
<h3>{{ question.text }} </h3>
<i>(Author: {{ question.author }})</i>
<hr/>
<h2>Ответы:</h2>
<ol>
{% for answer in answers %}
	<li>{{ answer.text }} <i>(Author: {{ answer.author }})</i></li>
{% endfor %}
</ol>
<hr/>
<h2>Добавить свой ответ:</h2>
<form action = "/answer/" method="POST">
	{{ form.as_p }}
	{% csrf_token %}
<input type="submit" value="Добавить ответ"/>
</form>

</body>
</html>
